{% extends 'index.html' %}
{% load static %}
{% block content %}
<!--mouse  follower-->
<div class="cursor"></div>
<!--mouse  follower-->

<div id="portfolio">
    <div class="portfolio-header"> <span class="color"> My </span> Portfolio
    <span class ="header-caption"> Some Of My <span class="color"> Works</span></span></div>
    <div id="portfolio-content">
        {% for project in portfolio %}
         <div class="portfolio portfolio-first">
             <div class="portfolio-image">
                <img src="{{ project.portfolio_image.url }}" alt="portfolio-images">
             </div>
             <div class="portfolio-text">
                 <h2>{{ project.title }}</h2>
                 <p>{{ project.content }}</p>
                 <div class="button"><a href="{{ project.project_link }}" target="_blank"><button><span class="index"> View Project<i class="gg-arrow-right"></i></span></button></a></div>
             </div>
         </div>
        {% endfor %}
    </div>
    <div class="footer">
        <div class="footer-text">
            <img src="{% static '../static/images/copyright.png' %}" alt="copyright-img" class="images" height="14px"> Islom Coder
        </div>
    </div>
</div>


{% endblock %}